.flex-container {
    display: flex;
    flex-wrap: nowrap;
    height: 50px;
    width: auto;
  
  }
  
  .flex-container>div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    color: black;
    justify-content: space-around;
  }
  
  .flex-container>input {
    background-color: #f1f1f1;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 15px;
    border-radius: 10px;
  }
  
  .flex-container>button {
    background-color: pink;
    color: palevioletred;
    font-size: 18px;
    margin-left: 50px;
    width: 250px;
    height: 50px;
    border: white;
    border-radius: 10px;
    cursor: pointer;
    
  }
  .flex-container >button > img{
    margin-right: 10px;
  }
  .flex-container > img {
    margin-left: 10px ;
  }